@charset "gbk";

*{
	margin:0;
	padding:0;
}


.cover{
    text-align: center; 		/*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img{
	border: 5px solid #ddd;
    padding: 5px;
    background: #fff;	
}

#tec{
	position:absolute;
	top:80px;
	left:550px;
}

#cate{
	position:absolute;
	top:100px;
	left:550px;}

#tra{
	position:absolute;
	top:120px;
	left:550px;}

#cart{
	position:absolute;
	top:140px;
	left:550px;}

#me{
	position:absolute;
	top:160px;
	left:550px;
}