@charset "gbk";

*{
	margin:0;
	padding:0;
}


.cover{
    text-align: center; 		/*让div内部内容居中*/
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    position: relative; 
	width:521px;
	height:737px;
}

.img{
	border: 5px solid #ddd;
    padding: 5px;
    background: #fff;	
}

#tec{
	position:absolute;
	top:80px;
	left:50px;
}

#cate{
	position:absolute;
	top:100px;
	left:50px;
}

#tra{
	position:absolute;
	top:120px;
	left:50px;
}

#cart{
	position:absolute;
	top:140px;
	left:50px;}

#me{
	position:absolute;
	top:160px;
	left:50px;
}
