@charset "gbk";

header{
	width:100%;
	height:100px;
}

body{
	background-image:url(./Resource/Img/background.jpg);
	position:relative;
	width:100%;
	height:90%;
}

.title{
	position:absolute;
	width:200px;
	height:80px;
	font-size:40px;
	font-family:宋体;
	color:white;
	text-align:center;
	margin-left:15%;
	margin-top:20px;
}

.linkmore{
	position:absolute;
	width:800px;
	height:40px;
	margin-left:35%;
	margin-top:60px;
	font-size:40px;
	font-family:宋体;
	color:white;
}

li{
	display:none;
}

.me{
	position:absolute;
	margin:0 auto;
	width:20%;
	height:350px;
	border: 1px solid #ddd;
	padding: 10px 10px 15px;
	box-shadow:2px 2px 3px rgba(50,50,50,0.4);
	border-radius:20px;
	left:10%;
	top:150px;
	background:#fff url(./Resource/Img/head.jpg) no-repeat center top;
}

.music{
	position:absolute;
	margin:0 auto;
	width:20%;
	height:270px;
	border: 1px solid #ddd;
	padding: 10px 10px 15px;
	border-radius:20px;
	left:10%;
	top:580px;
	background:white url(./Resource/Img/music.gif) no-repeat center top;	
}


.new{
	position:absolute;
	margin:0 auto;
	width:40%;
	height:200px;
	border: 1px solid #ddd;
	padding: 10px 10px 15px;
	box-shadow:2px 2px 3px rgba(50,50,50,0.4);
    background:white;	
	border-radius:20px;
}

.change{
	position:absolute;
	width:210px;
	height:100px;
	background:url(./Resource/Img/night.jpg) no-repeat;
	left:80%;
	top:750px;
}

#Group11{
	position:absolute;
	width:95%;
	height:30px;
	left:2%;
	color:#5F9EA0;
	font-size:20px;
	font-family:隶书;
}

#Group12{
	position:absolute;
	width:30%;
	height:160px;
	left:2%;
	top:50px;
	background:url(./Resource/Img/11.jpg) no-repeat center;
}

#Group13{
	position:absolute;
	width:60%;
	height:130px;
	top:50px;
	left:35%;
	color:#B0C4DE;
	font-family:新宋体;
}

#Group14{
	position:absolute;
	width:60%;
	height:30px;
	top:185px;
	left:35%;
	color:#7FFFD4;
	font-family:华文细黑;
}

#Group21{
	position:absolute;
	width:95%;
	height:30px;
	left:2%;
	color:#5F9EA0;
	font-size:20px;
	font-family:隶书;
}

#Group22{
	position:absolute;
	width:30%;
	height:160px;
	left:2%;
	top:50px;
	background:url(./Resource/Img/22.jpg) no-repeat center;
}

#Group23{
	position:absolute;
	width:60%;
	height:130px;
	top:50px;
	left:35%;
	color:#B0C4DE;
	font-family:新宋体;
}

#Group24{
	position:absolute;
	width:60%;
	height:30px;
	top:185px;
	left:35%;
	color:#7FFFD4;
}

#Group31{
	position:absolute;
	width:95%;
	height:30px;
	left:2%;
	color:#5F9EA0;
	font-size:20px;
	font-family:隶书;
}

#Group32{
	position:absolute;
	width:30%;
	height:160px;
	left:2%;
	top:50px;
	background:url(./Resource/Img/33.jpg) no-repeat center;
}

#Group33{
	position:absolute;
	width:60%;
	height:130px;
	top:50px;
	left:35%;
	color:#B0C4DE;
	font-family:新宋体;
}

#Group34{
	position:absolute;
	width:60%;
	height:30px;
	top:185px;
	left:35%;
	color:#7FFFD4;
}

#i1{
	position:absolute;
	display:inline-block;
	width: 48px;
	height:48px;
	top:25%;
	left:10%;
	background:url(./Resource/Ico/Github_black.png) no-repeat center;
}

#i2{
	position:absolute;
	display:inline-block;
	width: 48px;
	height:48px;
	top:25%;
	left:30%;
	background:url(./Resource/Ico/RSS_black.png) no-repeat center;
}

#i3{
	position:absolute;
	display:inline-block;
	width: 48px;
	height:48px;
	top:25%;
	left:50%;
	background:url(./Resource/Ico/Weibo_black.png) no-repeat center;
}

#i4{
	position:absolute;
	display:inline-block;
	width: 48px;
	height:48px;
	top:25%;
	left:70%;
	background:url(./Resource/Ico/Facebook_black.png) no-repeat center;
}
